---
title: Search
slug: search
tags: pages
layout: layouts/page.njk
permalink: "{{ metadata.paths.search }}index.html"
---
<div id="search"></div>
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<script>window.addEventListener("DOMContentLoaded", () => new PagefindUI({ element: "#search", showSubResults: {{ metadata.search.showSubResults }} }));</script>
